﻿@model LoginViewModel
@{
    ViewData["Title"] = "SQL";
}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Main">Main</a></li>            
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Env" asp-route-id=@Model.ActiveEnvirnment.Name>@Model.ActiveEnvirnment.Name</a></li>
            <li class="breadcrumb-item active" aria-current="page">SQL View</li>
        </ol>
    </nav>



    <div class="container">
        <div class="row">
            <div class="alert alert-success" style="margin-top:20px">
                This view is provided only for making select statements. Delete, Drop statements are not allowed.
            </div>
        </div>

        <div class="row">
            <form>
                <div class="form-group">
                    <label for="inputSQL">SQL</label>
                    <input   type="text" class="col-12" id="inputSQL" placeholder="SQL">
                </div>
                <button type="submit" class="btn btn-primary">Execute</button>
            </form>

        </div>

        <div class="row">
            <div class="col-xl-12" style="margin-top:20px">
                Result
            </div>
        </div>



    </div>


 